/.vs/
/[Rr]eunionMovementDLL/[Bb]in/*
/[Rr]eunionMovementDLL/[Oo]bj/[Dd]ebug/*
/[Rr]eunionMovementDLL/[Oo]bj/[Rr]elease/*
/[Rr]eunionMovementDLL/[Oo]bj/[Aa]ny[Cc][Pp]rofile/*
/[Rr]eunionMovementDLL/[Pp]ublish/*