/.vs/
/[Rr]eunionMovementServer/[Bb]in
/[Rr]eunionMovementServer/[Oo]bj/[Dd]ebug/*
/[Rr]eunionMovementServer/[Oo]bj/[Rr]elease/*
/[Rr]eunionMovementServer/[Oo]bj/[Aa]ny[Cc][Pp]rofile/*
/[Rr]eunionMovementServer/[Pp]ublish/*