/.vs/
/[Rr]eunionMovementDLLTest/[Bb]in/*
/[Rr]eunionMovementDLLTest/[Oo]bj/[Dd]ebug/*
/[Rr]eunionMovementDLLTest/[Oo]bj/[Rr]elease/*
/[Rr]eunionMovementDLLTest/[Oo]bj/[Aa]ny[Cc][Pp]rofile/*
/[Rr]eunionMovementDLLTest/[Pp]ublish/*